body{font-family: 'Poppins', sans-serif; margin: 0%; }
.name{
    color:rgb(11, 158, 126);}
    .type{
        color:rgb(3, 27, 48);
    }
    section{
        display: flex;
    }
    .half{
        width:50%;
        padding-left: 10%;

    }
    .half IMG{
        width:60%;
        
    }
    .link_btn{
          text-decoration: none;
         /* background-color: rgb(218, 204, 18); */
         background-image: linear-gradient(rgba(230, 215, 11, 0.788),rgba(77, 77, 107, 0.589));
          padding: 10px 20px;
          font-weight: 1000;
          border-radius: 10px;
    }
    .top_banner{
       background-image: url(images/top-banner.png); 
       background-repeat: no-repeat;
    }